* {
    box-sizing: border-box;
    padding: 0;
    margin: o;
}

.popup-form {
    display: flex;
    justify-content: center;
}

.dvSelect>select,
#divControl>input {
    /* width: 15rem; */
    margin: 10px;
    border: 1px solid black;
    border-radius: 7px;
    text-align: initial;
    font-size: 15px;
    padding: 5px;
}

.popup-form>select>option {
    width: 15rem;
    font-size: 12px;
}

.fa-times-circle {
    font-size: 18px;
    color: red;
    margin-top: 14px;
    margin-left: -5px;
}

#btnAddMore {
    color: rgb(0, 162, 255);
    font-size: 15px;
    border: none;
    background-color: white;
    cursor: pointer;
    margin-left: 35px;
}

#divCategories {
    margin: 10px 27px;
    box-shadow: 0 0 13px -7px #444444;
    background-color: white;
    width: 55%;
}

#divCategories>input {
    /* width: 4rem; */
    margin: 5px;
}

#divCategories>input,
#divCategories>label {
    cursor: pointer;
}

#divCategories>label:hover {
    background-color: rgb(0, 162, 255);
    color: white;
}

#divNoData {
    color: red;
    font-size: 14px;
    margin-left: 36px;
    display: none;
}